
@import url('https://fonts.googleapis.com/css2?family=Eater&family=Inspiration&family=Mansalva&display=swap');

img {
  width: 75px;
  height: 40px;
  border: 2px solid black
}
#haunt-image {
  width: 150px;
  height: 100px
}

body{
  background-image: url('https://images.pexels.com/photos/3772353/pexels-photo-3772353.jpeg?auto=compress&cs=tinysrgb&w=300');
  color: #b0a9a9;
  background-size: 100%;
  font-family:  'Mansalva', cursive;
  opacity: 0.75;
}

h1 {
  font-size: 50px;
  font-style: italic;
  margin-bottom: 0.5cm;
  font-family:  'Eater', cursive;
  color: #9c1121;
  text-shadow: 1px 1px 1px #000;
}

.link {
  color: #b0a9a9;
  text-decoration: none;
}
.link:hover{
color: black
}
div{
  display: flex;
  flex-direction: column;
  align-items: center;
}
form {
  background-color:  #b0a9a9;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 5em;
  margin: 2em auto;
  border-radius: 0.5em;
  color: black;
  
}
.submit, .link-button {
background-color: black;
border: 2px solid white;
color: white;
padding: 0.25em;
margin-top: 8px;
font-family: 'Mansalva', cursive;
}
.submit:hover, .link-button:hover{
  background-color: white;
  color: black;
  cursor: pointer
}

/* .countries, .places{

} */

h2{
  font-size: 30px;
  text-shadow: 1px 1px 1px #000;
}

h2:hover {
color: black;
cursor: pointer
}